---
title: Символы Раскладки для биологов
description: Рассказываю, как пользоваться символами Раскладки в серии постов
date: 2025-05-17
taglist:
draft: false
starred: false
notPost: true
tags:
  - layout
layout: layouts/biolayout.njk
permalink: /layout/symbols/
---
<p>В серии постов рассказываю, как пользоваться символами Раскладки.</p>

{% set postslist = collections.symbolsposts %}
{% include "postcards.njk" %}