<!doctype html>
		<!-- Эта страница `{{ page.url }}` была собрана {% currentBuildDate %} -->
		<!-- Движок: 11ty, тема: Трирема -->
<html lang="{{ metadata.language }}" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description | striptags or metadata.description | striptags }}">
		<link rel="alternate" href="/rss/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="icon" href="/assets/favicon.png" sizes="32x32">

    {% block preload %}
    <link rel="preload" href="/fonts/CommissionerRegular.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="/fonts/CommissionerBoldFlair.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="/fonts/CommissionerItalic.woff2" as="font" type="font/woff2" crossorigin="">
    {% endblock %}

		{%- css %}{% include "public/css/default.css" %}{% endcss %}
		{%- css %}{% include "public/css/custom.css" %}{% endcss %}

		{% block extra %}
		{%- js %}{% include "public/scripts/keyboard-nav.js" %}{% endjs %}
		{% endblock %}


		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		{#- <style>{% getBundle "css" %}</style> #}
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

		{%- js %}{% include "public/scripts/scrollable.js" %}{% endjs %}
		{%- js %}{% include "public/scripts/typoreport.js" %}{% endjs %}

		<script src="{% getBundleFileUrl "js" %}"></script>
		<meta name="og:site_name" content="{{ metadata.title }}">
		{%- if not thumbnail %}
		{% set images = media | imagesOnly %}
		{%- for image in images %}
			<meta property="og:image" content="/media/{{image}}">
		{% endfor %}
		{% else %}
			<meta property="og:image" content="/media/{{thumbnail}}">
			<meta name="twitter:card" content="summary_large_image">
			<meta property="twitter:image" content="/media/{{thumbnail}}">

		{% endif %}

	</head>
	<body>
		<header>
		<a href="#skip" class="visually-hidden">Перейти к содержимому</a>
			<nav>
				<h2 class="visually-hidden">Навигация</h2>
				<div class="nav-container scrollable bordered shadow">
					{% include "nav-cards.njk" %}
				</div>
			</nav>
</header>

		<main id="skip">
			<heading-anchors>
				{% block beforeContent %}{% endblock %}

				{{ content | safe }}

				{% block afterContent %}{% endblock %}
			</heading-anchors>
		</main>

		<footer class='unvisitable'>
			<p class="footer-text">© {{ metadata.author.name }}, {{ metadata.blog_foundation }}–{% year %}<br>
			<a href="/rss/">РСС,</a> <a href="https://t.me/magmoyed">телеграм-канал</a><br>
				<a href="mailto:inbox@magvag.ru">inbox@magvag.ru</a></p>
			<p class="footer-built"> Сделано на <a href="https://trireme.magvag.ru/">Триреме</a></p>

		</footer>
	</body>
</html>
